<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<script type="text/javascript" src="/static/dist/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/jquery-ui/jquery-ui.js"></script>
<link href="/static/dist/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="/static/dist/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="tabbable container-fluid" id="tabs-40028">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-670031" data-toggle="tab">报表数据回归</a>
					</li>
					<li>
						<a href="#panel-628221" data-toggle="tab">报表图片回归</a>
					</li>
					<li>
						<a href="#panel-638222" data-toggle="tab">Fakecube接口回归</a>
					</li>
                    <li class="dropdown">
					 	<a href="#" data-toggle="dropdown" class="dropdown-toggle">接口全监控<strong class="caret"></strong></a>
						<ul class="dropdown-menu">
                            <li>
                                <a href="#panel-638223" data-toggle="tab">接口监控</a>
                            </li>
							<li class="divider">
							</li>
							<li>
								<a href="#panel-638231" data-toggle="tab">实时监控</a>
							</li>
							<!-- <li class="divider">
							</li>
							<li>
								<a href="#">分割线</a>
							</li> -->
						</ul>
					</li>
					<li>
						<a href="#panel-638224" data-toggle="tab">payAutoTest</a>
					</li>

                    <li class="dropdown">
					 	<a href="#" data-toggle="dropdown" class="dropdown-toggle">支付/账务工具<strong class="caret"></strong></a>
						<ul class="dropdown-menu">
                            <li>
                                <a href="#panel-638225" data-toggle="tab">支付工具</a>
                            </li>
							<li class="divider">
							</li>
							<li>
								<a href="#panel-638232" data-toggle="tab">账务工具</a>
							</li>
						</ul>
					</li>
                    <!--
                    <li>
                        <a href="#panel-638225" data-toggle="tab">支付工具</a>
                    </li>
                     -->
                    <li>
                        <a href="#panel-638226" data-toggle="tab">数据库对比工具</a>
                    </li>

					<li class="dropdown">
					 	<a href="#" data-toggle="dropdown" class="dropdown-toggle">无diff测试<strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#panel-638227" data-toggle="tab">Focus</a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="#panel-638228" data-toggle="tab">Groupon_virus</a>
							</li>
							<li>
								<a href="#panel-638229" data-toggle="tab">Groupon</a>
							</li>
                            <li class="divider">
                            <li>
								<a href="#panel-638230" data-toggle="tab">Fakecube</a>
							</li>
							<!-- <li class="divider">
							</li>
							<li>
								<a href="#">分割线</a>
							</li> -->
						</ul>
					</li>

				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-670031">
						<object class="table table-striped" data="/queryGraph" width="100%" height="1000"></object>
					</div>
					<div class="tab-pane" id="panel-628221">
						<object type="text/x-scriptlet" data="/queryReport" width="100%" height="1000"></object>
					</div>
					<div class="tab-pane" id="panel-638222">
						<object class="table table-striped" data="/queryFakecube" width="100%" height="1000"></object>
					</div>
					<div class="tab-pane form-horizontal" id="panel-638223">
                        <a href="/getAlertReport" style="float:right" target="_blank"><p class="label">监控报表</p></a>
						<object class="table table-striped" data="http://10.6.3.117:9000" width="100%" height="1000"></object>
					</div>
					<div class="tab-pane" id="panel-638224">
						<object class="table table-striped" data="/payautotest" width="100%" height="1000"></object>
					</div>

                    <div class="tab-pane" id="panel-638225">
                        <object class="table table-striped" data="/paytools" width="100%" height="1000"></object>
                    </div>

                    <div class="tab-pane" id="panel-638226">
                        <object class="table table-striped" data="http://172.16.13.129:8088/sqldate" width="100%" height="1000"></object>
                    </div>

                    <div class="tab-pane" id="panel-638227">
                        <object class="table table-striped" data="/smokeTest?module=Focus" width="100%" height="1000"></object>
                    </div>

                    <div class="tab-pane" id="panel-638228">
                        <object class="table table-striped" data="/smokeTest?module=Groupon_virus" width="100%" height="1000"></object>
                    </div>

                    <div class="tab-pane" id="panel-638229">
                        <object class="table table-striped" data="/smokeTest?module=Groupon" width="100%" height="1000"></object>
                    </div>

                    <div class="tab-pane" id="panel-638230">
                        <object class="table table-striped" data="/smokeTest?module=Fakecube" width="100%" height="1000"></object>
                    </div>
                    <div class="tab-pane" id="panel-638231">
                        <a href="/getAlertReport" style="position:absolute; right:65px; top:60px;" target="_blank" ><p class="label">监控报表</p></a>
                        <object class="table table-striped" data="/queryAlert" width="100%" height="1000"></object>
                    </div>
                    <div class="tab-pane" id="panel-638232">
                        <object class="table table-striped" data="/naccounttools" width="100%" height="1000"></object>
                    </div>

				</div>
			</div>
			
		</div>
	</div>
</div>


<form id="runjob" action="/runJob" method="post">
{% csrf_token %}
<input type="hidden" id="returnckIds" name="runJobIds" />
</form>

</body>
</html>
