<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="/static/dist/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/jquery-ui/jquery-ui.js"></script>
<link href="/static/dist/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="/static/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/my-js/my-common.js"></script>
</head>
<body onload="statistics();loadAction()">

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="tabbable" id="tabs-40028">
				
				<div class="tab-content">
					
					<div class="tab-pane active" id="panel-670031">
						
							<div class="btn-group">	
								<input class="btn btn-warning" id="selectall" onclick="selectAll()" type="button" value="全选" />
							</div>
							<div class="btn-group">	
								<input class="btn btn-primary" id="execute" type="button" value="运行" />
							</div>	
							<div class="btn-group">	
								<input class="btn btn-danger" id="replace" type="button" value="替换" />
							</div>
						
							<div class="btn-group">	
   								<select class="btn btn-info selectpicker" id="runhis">
      							{% for m in run_history %}
									<option>
										{{m.result_id}}
									</option>
								{% endfor %}
								</select>
   							</ul>
   							</div>
                            <div style="float:right" class="statistics">
						        成功&nbsp;
					            <span id="suc-count"> 0</span>
					            &nbsp;个&nbsp;|&nbsp;失败&nbsp;
                                <span id="fail-count"> 0</span>
                                &nbsp;个
					        </div>
   							<div class="btn-group">	
   								<p class="label" contenteditable="true" id="showstatus"></p>
   							</div>
   							
						<p>	
							<table class="table table-striped">
								<thead>
									<tr>
										<th>
											编号
										</th>
										<th>
											图表名称
										</th>
										<th>
											所属报表
										</th>
										<th>
											状态
										</th>
									</tr>
								</thead>
								<tbody>
									{% for m in data %}
									   <tr class="{{m.status}}" id="tr_{{m.g_id}}">								   
									   <td><input type="checkbox" name="box" id="{{ m.g_id }}"> {{ m.g_id }}</td>									   
									   <td>{{ m.g_name }}</td>
									   <td>{{m.rep_id}}</td>
									   <td id="status"><a name="m.status" id="status_{{ m.g_id }}" href="/static/datadiff/{{m.g_id}}.html">{{m.status}}</a></td>
									   </tr>
									{% endfor %}
								</tbody>
							</table>
						</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<script type="text/javascript">
function loadAction(){
	idx=window.document.getElementById('runhis').selectedIndex;
	cur_show_runid=document.getElementById('runhis').options[idx].text;
	var m = getAllDataId();
	for(i=0; i<m.length; i++){
		if(document.getElementById('status_'+m[i]).text=="error")
			document.getElementById('status_'+m[i]).href='/static/datadiff/' + cur_show_runid + '_' + m[i] + '.html';
		else
			document.getElementById('status_'+m[i]).href="";
	}
}
</script>

<script>
	var cur_show_runid;
	$('#execute').click(function(){
		$('#showstatus').text("running");
		var ckIds= new Array();
		ckIds=getAllChecked();
		var ckIdsString = ckIds.join(",");
		var st=""
		$.get('/graphDataDiff',{"runJobIds":ckIdsString},function(ret){
			location.reload('true');
			st=ret.status
			$('#showstatus').text(ret.status);
		})
	});

	$('#runhis').ready(function(){
		idx=window.document.getElementById('runhis').selectedIndex;
		cur_show_runid=document.getElementById('runhis').options[idx].text;
		var m = getAllDataId();
		for(i=0; i<m.length; i++){
			if(document.getElementById('status_'+m[i]).text=="error")
				document.getElementById('status_'+m[i]).href='/static/datadiff/' + cur_show_runid + '_' + m[i] + '.html';
			else
				document.getElementById('status_'+m[i]).href="";
		}
	});

	$('#runhis').change(function(){
		idx=window.document.getElementById('runhis').selectedIndex;
		cur_show_runid=document.getElementById('runhis').options[idx].text;

		document.getElementById('suc-count').innerHTML = 0;
		document.getElementById('fail-count').innerHTML = 0;

		var m = getAllDataId();
		$.get('/queryGraphStatus?queryId='+cur_show_runid,function(ret){
			var rejson = JSON.parse(ret);
			for(key in rejson){
				document.getElementById('tr_'+key).className=rejson[key];
				document.getElementById('status_'+key).text=rejson[key];
				if(rejson[key] == "success")
					{document.getElementById('suc-count').innerHTML ++;}
			    else if(rejson[key] =="error") 
		        	{document.getElementById('fail-count').innerHTML ++;}
			}
		})
		
		for(i=0; i<m.length; i++){
			if(document.getElementById('status_'+m[i]).text=="error")
				document.getElementById('status_'+m[i]).href='/static/datadiff/' + cur_show_runid + '_' + m[i] + '.html';
			else
				document.getElementById('status_'+m[i]).href="";
		}
        
	}); 

	$('#replace').click(function(){
		if(confirm("你确定要替换标准文件吗？")){
			var ckIds=getAllChecked();
			var ckIdsString = ckIds.join(",");
			$.get('/replaceStand',{"repIds":ckIdsString},function(ret){
				if(ret.status=="success")
					alert("替换成功");
				else
					alert("替换失败");
			})
		} else{
			return;
		}
	});   

</script>


</body>
</html>